.body_container {
    position: relative;
    width: 100%;
    margin: 30px 0 10px;
}

.add_tasks_container {
    position: relative;
    display: flex;
    width: 100%;
    margin: 15px 0 10px;
    padding: 0;
}

.add_task_input {
    width: 90%;
    padding: 10px 10px;
    font-size: 16px;
    border: 1px solid black;
}

.add_task_input:hover {
    cursor: pointer;
}

.priorities_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.priority_label {
    position: absolute;
    bottom: 100%;
    margin: 0 auto;
    font-size: 17px;
    font-weight: bold;
}

.hidden_priority_label {
    display: none;
}

.select_priority {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 15px;
    border-radius: 4px;
    border: 1px solid black;
}

button {
    background-color: rgb(140 110 182);
    border-radius: 4px;
    border: none;
    color: white;
    padding: 0 10px;
}

button:hover {
    cursor: pointer;
    background-color: lightblue;
    color: black;
}

.add_task_button {
    font-size: 40px;
    font-weight: bold;
}

.todos_list {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0;
}

.hidden_todos_list {
    display: none;
}

@media (max-width: 599px) {
    .body_container {
        margin: 25px 0 10px;
    }
    .add_task_input {
        font-size: 14px;
    }
    .select_priority {
        font-size: 12px;
    }
    .add_tasks_container {
        height: 35px;
    }
    .add_task_button {
        font-size: 30px;
    }
    .priority_label {
        font-size: 13px;
    }
}

@media (min-width: 600px) and (max-width: 767px) {
    .add_tasks_container {
        height: 35px;
    }
    .add_task_button {
        font-size: 30px;
    }
    .priority_label {
        font-size: 15px;
    }
}

@media (min-width: 768px) and (max-width: 1365px) {
    .app {
        width: 60%;
    }
}

@media (min-width: 1366px) and (max-width: 1920px) {
    .app {
        width: 50%;
    }
}