html {
    min-width: 100%;
    min-height: 100%;

    background: #8594a0;
    background: -webkit-linear-gradient(to right, #8594a0,#cacdce, #8594a0);
    background: linear-gradient(to right, #8594a0,#cacdce, #8594a0);
}