.header_container {
    
}

.header_title {
    font-size: 23px;
    color: var(--font-color);
}

@media (max-width: 599px) {
    .header_title {
        font-size: 17px;
    }
}

@media (min-width: 600px) and (max-width: 767px) {
    .header_title {
        font-size: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1365px) {
    .header_title {
        font-size: 20px;
    }
}

@media (min-width: 1366px) and (max-width: 1920px) {
}