* {
    box-sizing: border-box;
}

.app {
    position: relative;
    width: 40%;
    min-width: 310px;
    margin: 10% auto;
    padding: 1% 2%;
    background-color: white;
    border-radius: 4px;
    border: 1px green solid;
    font-family: Arial, Helvetica, sans-serif;
}

.app_header {
    margin: 0 0 20px 0;
    padding: 10px 0;
}

input {
    width: 90%;
    padding: 10px 10px;
    font-size: 16px;
}

input:hover {
    cursor: pointer;
}


.priorities_container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
}

.priority_label {
    position: absolute;
    bottom: 110%;
    right: 0.5%;
    margin: 0 auto;
    font-size: 17px;
    font-weight: bold;
}

.hidden_priority_label {
    display: none;
}

.task_priorities {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 15px;
}

button {
    background-color: rgb(140, 95, 182);
    border-radius: 4px;
    color: white;
    padding: 0 10px;
}

button:hover {
    cursor: pointer;
    background-color: aqua;
    color: black;
}

.add_tasks_container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
}

.add_task_button {
    font-size: 40px;
    font-weight: bold;
}

.todos_list {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0;
}

.hidden_todos_list {
    display: none;
}

.app_footer_all_tasks {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
} 

.app_footer_all_tasks p {
    margin: 0;
    padding: 10px 0;
    font-size: 20px;
}

#clear_all_tasks_button {
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}

#disabled_clear_all_tasks_button {
    background-color: lightgray;
    color: white;
    cursor: auto;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}

.completed_tasks_counter {
    margin: 0;
    padding: 10px 0;
    font-size: 20px;
}

.app_footer_completed_tasks {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.hidden_app_footer_completed_tasks {
    display: none;
}

.clear_completed_tasks_button {
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}

@media (max-width: 599px) {
    .app {
        width: 90%;
    }
    .app_header {
        font-size: 20px;
    }
    .add_tasks_container {
        height: 35px;
    }
    .add_task_button {
        font-size: 30px;
    }
    .priority_label {
        font-size: 15px;
    }
    .app_footer_all_tasks p, .completed_tasks_counter {
        font-size: 18px;
    }
    #clear_all_tasks_button, .clear_completed_tasks_button {
        padding: 5px;
    }
}

@media (min-width: 600px) and (max-width: 767px) {
    .app {
        width: 80%;
    }
    .app_header {
        font-size: 20px;
    }
    .add_tasks_container {
        height: 35px;
    }
    .add_task_button {
        font-size: 30px;
    }
    .priority_label {
        font-size: 15px;
    }
    .app_footer_all_tasks p, .completed_tasks_counter {
        font-size: 18px;
    }
    #clear_all_tasks_button, .clear_completed_tasks_button {
        padding: 5px;
    }
}

@media (min-width: 768px) and (max-width: 1365px) {
    .app {
        width: 60%;
    }
}

@media (min-width: 1366px) and (max-width: 1920px) {
    .app {
        width: 50%;
    }
}

@media (orientation: landscape) and (max-width: 767px){
    .app {
        width: 80%;
    }
    .app_header {
        font-size: 20px;
    }
    .add_tasks_container {
        height: 35px;
    }
    .add_task_button {
        font-size: 30px;
    }
    .priority_label {
        font-size: 15px;
    }
    .app_footer_all_tasks p, .completed_tasks_counter {
        font-size: 18px;
    }
    #clear_all_tasks_button, .clear_completed_tasks_button {
        padding: 5px;
    }
}
