* {
    box-sizing: border-box;
}

.app {
    position: relative;
    width: 30%;
    margin: 10% auto;
    padding: 1% 1%;
    background-color: white;
    border-radius: 4px;
    border: 1px green solid;
    font-family: Arial, Helvetica, sans-serif;
}

.app_header {
    margin: 0 0 20px 0;
    padding: 0;
}

/* .app_body {
    
} */

input {
    width: 90%;
    padding: 10px 10px 0;
    font-size: 16px;
}

input:hover {
    cursor: pointer;
}

button {
    background-color: rgb(140, 95, 182);
    border-radius: 4px;
    color: white;
    padding: 0 10px;
}

button:hover {
    cursor: pointer;
}

.add_tasks_container {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
}

.add_tasks_container button {
    font-size: 40px;
    font-weight: bold;
    
}

.todos_list {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0;
    /* border: 2px blue solid; */
}

.empty_todos_list {
    display: none;
}

.app_footer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
} 

.app_footer p {
    margin: 0;
    padding: 10px 0;
    font-size: 20px;
}

.app_footer button {
    font-weight: bold;
    padding: 10px;
}

.completed_tasks {
    margin: 0;
    padding: 10px 0;
    font-size: 20px;
}

.empty_completed_tasks  {
    display: none;
}