.large_container {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 5px 0 0 0;
}

.arrows_container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.up_arrow, .down_arrow {
    position: relative;
    width: 16px;
    height: 24px;
    margin: 0;
    padding: 4px;
}

.up_arrow:hover, .down_arrow:hover {
    cursor: pointer;
    background-color: aqua;
}

.todo_container {
    position: relative;
    display:flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    z-index: 10;
}

.check_completed {
    position: absolute;
    width: 20px;
    height: 13px;
    left: 0;
}

.task_name {
    width: 85%;
    margin: 10px 0;
    padding: 0 0 0 35px;
    font-size: 19px;
    word-wrap: break-word;
}

.task_priority {
    margin: auto;
    min-width: 40px;
    height: inherit;
    padding: 0 0 0 5px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
}

.bin_icon {
    position: relative;
    width: 50px;
    height: 40px;
    /* margin: auto; */
    padding: 5px 10px;
    /* background-color: lightgrey; */
}

.bin_icon:hover {
    cursor: pointer;
    width: 50px;
    height: 40px;
    padding: 0 5px;
}

.edit_icon {
    position: relative;
    width: 30px;
    padding: 13px 7px;
}


@media (max-width: 599px) {
    .up_arrow, .down_arrow {
        height: 23px;
    }
    .check_completed {
        height: 12px;
    }
    .task_name {
        margin: 0 0 0 10px;
        padding: 5px 0 5px 15px;
        font-size: 14px;
    }
    .task_priority {
        min-width: 36px;
        font-size: 11px;
    }
    .bin_icon {
        width: 45px;
        height: 35px;
        margin: auto;
        padding: 5px 5px;
    }
    .edit_icon {
        position: relative;
        width: 30px;
        padding: 18px 7px;
    }
    .bin_icon:hover {
        width: 45px;
        height: 35px;
        margin: auto;
        padding: 5px 5px;
    }
}

@media (min-width: 600px) and (max-width: 767px) {
    .task_name {
        margin: 0 0 0 10px;
        padding: 5px 0 5px 20px;
        font-size: 16px;
    }
    .check_completed {
        height: 12px;
    }
    .task_priority {
        min-width: 36px;
        font-size: 13px;;
    }
    .bin_icon {
        width: 45px;
        height: 35px;
        margin: auto;
        padding: 5px 5px;
    }
    .edit_icon {
        position: relative;
        width: 30px;
        padding: 13px 7px;
    }
    .bin_icon:hover {
        width: 45px;
        height: 35px;
        margin: auto;
        padding: 5px 5px;
    }
}

/* @media (orientation: landscape) and (max-width: 767px) {
    .task_name {
        margin: 0 0 0 10px;
        padding: 5px 0 5px 20px;
        font-size: 16px;
    }
    .task_priority {
        min-width: 36px;
    }
    .bin_icon {
        width: 45px;
        height: 35px;
        margin: auto;
        padding: 5px 5px;
    }
    .edit_icon {
        position: relative;
        width: 30px;
        padding: 13px 7px;
    }
    .bin_icon:hover {
        width: 45px;
        height: 35px;
        margin: auto;
        padding: 5px 5px;
    }
} */